@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');

.footer__section{
    width: 100vw;
    height: 100vh;
    max-height: 100%;
    max-width: 100%;
    background-color:rgb(34, 33, 33);
}

#titulo_footer {
    background-color: rgb(207, 204, 201);
    padding: 2%;
    font-weight: 100;
    display: flex;
    justify-content: center;
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
}

#fondo_tesla {
    height: 55%;
    max-width: 100%;
    background-color: white;
}

#fondo_tesla img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    background-size: cover;
}

.deep_footer {
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color:rgb(34, 33, 33);
    height: 30%;
}

#padre_footer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    
}

#logo_footer {
    display: flex;
    max-width: 100%;
    margin: 1.5%;
}

#logo_footer img {
    max-width: 100%;
    max-height: 100%;
    display: flex;
}


.deep_footer #info_contenedor {
    min-width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    
    margin-bottom: 30px;
    margin-left: 0;
}
.info_footer {
    color: white;
    width: 100%;
    display: flex;
    
}

.deep_footer #icons_footer {
    display: flex;
    width: 60%;
    height: 10%;
    color: white;
    font-size: 16px;
    gap: 240px;
    flex-direction: row;
    align-items: center;

}
.social_media {
    display: flex;
    align-items: center;
    color: white;
    margin-top:10px;
    font-size: 25px;
    gap: 10px;
}

li {
    list-style-type: none;
}

#logos_footer {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    width: 26.2%;
}

p {
    display: flex;
}


.marcas_como {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    color: white;
    font-size: 16px;
    margin-left: 30px;
}

.deep_footer img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; 
}

#fondo_tesla .ver__coches {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 30%;
    max-height: 100%;
    left: 4%;
    top: 355%;
    padding: 2%;
    padding-top: 0.5%;
    background-color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.2);
}

#fondo_tesla .ver__coches .subtitulo {
    font-size: 22px;
    font-weight: 400;
}

#fondo_tesla .ver__coches .contenedor_texto_boton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 98%;
}

#fondo_tesla .ver__coches .texto__ver__coches {
    font-size: 16px;
    font-weight: 300;
}

#fondo_tesla .ver__coches button {
    font-size: 16px;
    font-weight: 300;
    border: 2px solid rgb(108, 107, 107);
    border-radius: 5%;
    padding: 1% 7%;
}

.marcas_logos {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    height: 100%;
}

.marcas_footer {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 25px;
}

.marcas_footer img {
    display: flex;
    object-fit: cover;
    width: 15%;
}

.data_fiscal {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    max-width: 100%;
    gap: 30px;
}

.seguinos{
    width: 60%;
    justify-content: center;
}

.copyright{
    display: flex;
    justify-content: center;
    background-color:rgb(34, 33, 33);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color : white;
}


@media (max-width: 1000px) {
    .marcas_footer{
        display: none;
    }

    .marcas_como{
        display: none;
    }

    #logo_footer{
        max-width: 50%;
      }

   
}

@media (max-width: 900px) {
  
    #logo_footer{
      display: none;
    }

    div.data_fiscal{
        display: none;
    }

    #info_contenedor{
        flex-direction: column;
        padding: 30px;
    }
   
}