@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');

.footer__section{
    width: 100vw;
    height: 100vh;
    max-height: 100%;
    max-width: 100%;
    background-color:rgb(34, 33, 33);
}

#titulo_footer {
    background-color: rgb(207, 204, 201);
    padding: 2%;
    font-weight: 100;
    display: flex;
    justify-content: center;
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
}

#fondo_tesla {
    height: 55%;
    max-width: 100%;
    background-color: white;
}

#fondo_tesla img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    background-size: cover;
}

.deep_footer {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    max-height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

#padre_footer {
    background-color: rgb(29, 102, 102);
    display: flex;
    flex-direction: column;

}

#logo_footer {
    display: flex;
    height: 10%;
    width: 10%;
    margin: 1%;
}

#logo_footer img {
    max-width: 100%;
    max-height: 100%;
    display: flex;
}


.deep_footer #info_contenedor {
    min-width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    
    
    margin-left: 0;
}
.info_footer {
    color: white;
    width: 100%;
    height: 8%;
    display: flex;
    
}

.deep_footer #icons_footer {
    background-color: rgb(85, 40, 24);
    display: flex;
    width: 60%;
    height: 10%;
    color: white;
    font-size: 16px;
    gap: 240px;
    flex-direction: row;
    align-items: center;

}
.social_media {
    background-color: rgb(128, 27, 44);
    color: rgb(199, 77, 40);
    width: 18%;
    height: 6%;
    display: flex;
    align-items: center;
    gap: 14px;
    font-size: 20px;
}

li {
    list-style-type: none;
}

#logos_footer {
    /* background-color: brown; */
    display: flex;
    flex-direction: column;
    
    height: 1%;
    width: 26.2%;
}
p {
    display: flex;
}
.marcas_como {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    /* background-color: green; */
    color: white;
    
    font-size: 10px;
    max-height: 10%;
    width: 90%;
    
    
    align-items: flex-start;
}

.deep_footer img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; 
}

.marcas_logos {
    display: flex;
    flex-direction: column;
    align-items: center;
    

    max-width: 100%;
    height: 50%;
}

.marcas_footer {
    /* background-color: blue; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    gap: 25px;
}

.marcas_footer img {
    display: flex;
    
    height: 18%;
    width: 14%;
}

.data_fiscal {
/* background-color: rgb(32, 128, 96); */
display: flex;
justify-content: center;
align-items: center;
height: 100%;
max-width: 100%;
gap: 30px;
}

.data_fiscal img {
    
    max-height: 100%;
    max-width: 85%;
    
}