@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');

.footer__section{
    width: 100vw;
    height: 100vh;
    max-height: 100%;
    max-width: 100%;
    background-color:rgb(34, 33, 33);
}

#titulo_footer {
    background-color: rgb(207, 204, 201);
    padding: 2%;
    font-weight: 100;
    display: flex;
    justify-content: center;
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
}

#fondo_tesla {
    height: 55%;
    max-width: 100%;
    background-color: white;
}

#fondo_tesla img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    background-size: cover;
}

.deep_footer {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    max-height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

#padre_footer {
    
    display: flex;
    flex-grow: 1;
    flex-direction: column;

}

#logo_footer {
    display: flex;
    height: 10%;
    width: 10%;
    margin: 1%;
}

#logo_footer img {
    max-width: 100%;
    max-height: 100%;
    display: flex;
}


.deep_footer #info_contenedor {
    min-width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    
    
    margin-left: 0;
}
.info_footer {
    color: white;
    width: 100%;
    height: 8%;
    display: flex;
    
}

.deep_footer #icons_footer {
  /*  background-color: rgb(85, 40, 24);  */
    width: 28%;
    height: 24%;
    color: white;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.social_media {
  /*  background-color: rgb(128, 27, 44);  */
    color: rgb(255, 92, 43);
    width: 28%;
    height: 20%;
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: larger;
}

li {
    list-style-type: none;
}

#logos_footer {
    
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 22%;
}
p {
    display: flex;
}
.marcas_como {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    background-color: green;
    color: white;
    
    font-size: 10px;
    max-height: 10%;
    width: 100%;
    
    
    align-items: flex-start;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; 
}

.marcas_logos {
    display: flex;
    flex-direction: column;
    align-items: center;
    

    max-width: 100%;
    height: 60%;
}

.marcas_footer {
    background-color: blue;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    height: 50%;
    gap: 25px;
    margin: 4px;
}