.cars__model-form{
    display: flex;
    align-items: center;
    /*padding: 1rem;*/
    padding: 15px;
    background-color: #704244;
    font-family: 'Roboto', sans-serif;
}


.label__input{
    color: white;
    margin-left: 118px ;
    font-size: 1.3rem;
    font-weight: 500;
}

.filter__icon{
    color: white;
    margin-left: 20px;
    font-size: 2rem;
}

.input__car-models{
    display: flex;
    flex-direction: row;
    margin-left: 8px;
    font-size: 1rem;
    font-weight: 100;
   
}

#labelInput {
    position: relative;
    bottom: 10px;
    left: 40px;
    font-size: 0.8rem;
    font-weight: 100;
    color: white;
}

#cars__input{
    position: relative;
    bottom: 0px;
    border: none;
    border-bottom: 1px solid white; 
    padding: 4px; 
    color:white;
    font-weight: 100;
    background-color: transparent; 
    width: 12rem;
  }

.car__option{
    color: rgb(21, 21, 21);
}

.button_search{
    position: relative;
    bottom: -4px;
    color: white;
    font-size: 1.2rem;
   
}

.counts__cars-models{
    color: white;
    font-weight: 500;
    padding-left:50px;
}

@media (max-width: 1000px) {
    .label__input{
        margin: 0;
    }
     .cars__model-form{
       max-width: 100%;
       align-items: flex-start;
       flex-direction: column;
       margin: 0;
     }

     .label__input{
        margin: 20px;
     }

  }

  @media (max-width: 900px) {
    .label__input{
        margin: 20px;
    }
    
    .counts__cars-models{
        display: none;
    }

    .cars__model-form{
      max-width: 100%;
    }

    .cars__input{
        width: 50%;
    }

    .counts__cars-models{
        font-size: 1rem;
    }
    .input_nav_cars{
        display: flex;
    }

    .input__car-models{
        margin: 30px;
        margin-left: 0;
    }

    .counts__cars-models{
        display: none;
    }

    .search__icon{
        background-color: #6b3f41;
        box-shadow:  1px 1px 4px #704244,
             -1px -1px 4px #5c3638;
        padding: 10px;
        border-radius: 5px;
        font-size: 2rem;
        margin: 10px;
    }
 }
