.image__container_welcome img{
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center center;

}
.image__container_welcome img{
    width: 100vw;
    height: 100vh;
    max-height: 100%;
    max-width: 100%;

}

.overlay__text{
    position: absolute;
    width: 1000px;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    z-index: 1000;
}

.overlay__text h1{
    font-family: 'Roboto', sans-serif;
    max-width: 1000px;
    font-weight: bold;
    font-size: 6rem;
    color: white;
    margin: 0;
    display: inline;
}

.overlay__text h2{
    font-style: inherit;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    color: #020202;
    margin: 0;
}

/*.title__section{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 48px;
    color: white;
    position: absolute;
    top : 12.5%;
    right: 27%;
}
.subtitle__section{
    font-style: inherit;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: #020202;
    position: absolute;
    top : 15%;
    right: 34%;
}*/



@media (max-width: 1000px) {
    .image__container_welcome img{
        /*background-size: cover;*/
        object-position: right;
      
    }

    .overlay__text{
        max-width: 700px;
    }
    .overlay__text h1{
        font-size: 4rem;
    }
  }

@media (max-width: 500px) {
    .image__container_welcome img{
        /*background-size: cover;*/
        object-position: right;
    }

    .overlay__text{
        max-width: 700px;
    }
    .overlay__text h1{
        font-size: 3rem;
    }
    .overlay__text h2{
        font-size: 1.5rem;
    }
  }