.alumno__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 60px;
}
.integrante {
  border: 1px solid;
  border-radius: 4px;
  padding: 40px;
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.3);
}
.integrante img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  margin: 10px;
  object-fit: cover;
}
#cofounders {
  margin: 60px;
  display: flex;
  justify-content: center;
}