.about__section{
    width: 100vw;
    height: 100vh;
    max-height: 100%;
    min-width: 100%;
    max-width: 100%;
    background-color:rgb(232, 111, 111);
    margin: 1px;
}

.seccion {
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    margin: 30px;
    align-items: stretch; /* Estira las filas para cubrir la altura completa */
  }
  
  .fila {
    display: flex;
    flex: 1;
    height: 30%; /* Limita la altura de las filas al 30% de la sección */
    overflow: hidden; /* Maneja el desbordamiento del contenido */
  }
  
  .columna {
    flex: 1;

  }
  
.text-about{
    margin: 0 auto;
    padding: 80px;
}

  img {
    height: 100%;
    max-width: 100%;
    width: 100%;
    object-fit: cover;
  }