.cars__model-view{
    width: 100vw;
    height: 120vh;
    max-height: 100%;
    max-width: 100%;
    background-color: #f4f4f4;
    font-family: 'Roboto', sans-serif;
}

.recommended__text{
    padding: 10px;
    font-size: 1.5rem;
    color: #252525;
    font-weight: 400;
}
@media (max-width: 1400px) {
    .cars__model-view{
        height: 150vh;
    }

}

@media (max-width: 1000px) {
    .cars__model-view{
        height: 180vh;
    }

}

@media (max-width: 900px) {
    .cars__model-view{
        height: 200vh;
    }

}


